.graphContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.chartContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 90%;
    height: 400px;
    margin-bottom: 50px;
}

.lineChart {
    width: 45%;
    height: 100% !important;
    margin: 10px 0;
}
.lineTest {
    height: 100% !important;
    margin: auto auto;
    font-size: 50 !important;
}

.barChart {
    width: 45%;
    height: 100% !important;
    margin: 10px 0;
}

.barTest {
    height: 100% !important;
    margin: auto auto;
    font-size: 50 !important;
}

@media (max-width: 775px) {
    .chartContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }
    .lineChart {
        width: 100%;
        min-height: 400px;
        margin: 10px 0;    
    }
    .lineTest {
        width: 100%;
        min-height: 400px;
        /* min-height: 600px; */
        margin: 10px 0;
        
    }
    .barChart {
        width: 100%;
        min-height: 400px;
        margin: 10px 0;
    }
    .barTest {
        width: 100%;
        min-height: 400px;
        /* min-height: 600px; */
        margin: 10px 0;
        
    }
}